@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in {
  0% {
    display: absolute;
    opacity: 0;
    top: 48px;
    left: 128px;
  }
  100% {
    display: absolute;
    opacity: 1;
    top: 48px;
    left: -112px;
  }
}

.slide-in {
  animation: slide-in 0.5s ease-in-out;
}

.slide-out {
  animation: slide-out 0.5s ease-in-out;
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.black-gradient {
  background: linear-gradient(to right, #434343, #000000);
}
